html body {
    color: #2f2f2f;
    background: #ffffff;
}

:root {
    --wolai-code-node-bg: #ffffff!important;
    --wolai-code-class-name: #0089b5!important;
    --wolai-code-attr-name: #dd0a43!important;
    --wolai-inline-code-color: #313131!important;
    --wolai-code-atrule: #8959a8!important;
    --wolai-code-string: green!important;
    --wolai-editor-header-color: #2f2f2f!important;
}

.wolai-code-wrapper {
    border: 1px solid #e8e8eb;
    border-radius: 5px;

    $copy-more: "._1E006";
    $lang-indicator: "._2Q6gs";

    #{$copy-more},
    #{$lang-indicator} {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}

#wolai-sidebar {
    background: rgba(255, 255, 255) !important;
    & > div:first-child {
        background: white !important;
    }
}

::-webkit-scrollbar-thumb {
    display: none !important;
}

.inline-code-node {
    background: rgba(246, 248, 250, 1)!important;
}

a:not([href]) {
    color: #0366d6 !important;
    border: none;
    &:hover {
        color: #0366d6 !important;
        border-color: #0366d6 !important;
    }
}

._1kQU6 {
    display: none !important;
}
