html body {
    background: #ffffff;
}

:root {
    --wolai-code-node-bg: #ffffff;
    --wolai-code-class-name: #0089b5;
    --wolai-code-attr-name: #dd0a43;
    --wolai-inline-code-color: #313131;
    --wolai-code-atrule: #8959a8;
}

.wolai-code-wrapper {
    border: 1px solid #e8e8eb;
    border-radius: 5px;

    $copy-more: "._1E006";
    $lang-indicator: "._2Q6gs";

    #{$copy-more},
    #{$lang-indicator} {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}
